.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  background-color: var(--c-white);

  &__form {
    display: flex;
    flex-direction: column;
  }
}