@use "@/styles/abstracts/mixins.scss";

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 55px 30px 55px;
  max-width: 390px;
  height: 100%;
  border-radius: 10px;
  background-color: var(--c-white);

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  &__title {
    @include mixins.font-size(30);
    padding-bottom: 40px;
  }

  &__sub-title {
    padding-block: 55px 20px;
    color: var(--c-gray);
  }

  &__input {
    @include mixins.font-size(16);
    min-width: 280px;
    height: 62px;
    padding-inline: 20px;
    border-radius: 20px;
    border: none;
    color: var(--c-extra-dark);
    background: transparent;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  }

  &__button {
    @include mixins.font-size(14);
    padding-inline: 20px;
    min-width: 160px;
    height: 48px;
    border-radius: 25px;
    border: none;
    color: var(--c-white);
    background-color: var(--c-violet);
    transition: all 0.4s;

    @include mixins.hover {
      background-color: var(--c-plum);
    }
  }

  &__social {
    display: flex;
    column-gap: 6px;
    padding-bottom: 80px;

    &-link {
      @include mixins.font-size(24);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: var(--c-ocean-blue);
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);

      @include mixins.hover {
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__link {
    color: var(--c-extra-dark);
    text-decoration: none;
    transition: all 0.4s;

    @include mixins.hover {
      text-decoration: underline;
    }
  }
}