
body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  min-height: 100%;
  color: var(--c-extra-dark);
  background: linear-gradient(to bottom, #FF00FF 5%, #0000FF);
  width: 100%;
}