:root {
  --font-family-base: "Inter", sans-serif;
  --c-extra-dark: #4b2354;
  --c-midnight: #1f1b2e;
  --c-white: #fff;
  --c-violet: #bd59d4;
  --c-plum: #4b2354;

  --container-width: 1280px;
  --container-padding-x: 20px;
}